
header {
    font-size: medium;
}
article {
    font-size: large;
}
body {
    background-color: rgb(22, 26, 29);
    background-image: url(../images/balatrofreaiojfsd.webp);
    background-size:cover;
    min-height: 100vh;
}
.card {
    background-color: rgba(102, 7, 9, 0.5);
    
    
}
.container {
    background-color: rgb(164, 22, 26, .3);
}
.nav-item:hover {
    font-size: large;
}
.navbar-brand:hover {
    font-size: x-large;
}
a:hover {
    color:crimson;
}
@media screen and (max-width: 960px) {

}
  